@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    /* padding: 0;
    margin: 0; */
    font-family: 'Lato', sans-serif;
}
.header {
    display: flex;
    justify-content: space-between ;
    margin: 10px;
    border: 1px solid black;
    height: 80px;
    border-radius: 20px;
}
.nav-items > ul{
    list-style-type: none;
    display: flex;
}
.nav-items > ul > li {
    padding: 10px;
}
.logo {
    width: 120px;
}
.logonameandimage{
    text-decoration: none;
    font-size: 30px;
    display: flex;
    align-items: center;
}
.card{
    width: 300px;
    height: 400px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}
.card > img {
    width: 100%;
    border-radius: 15px;
}
.restaurant-list {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}
.shimmer-card{
    width: 300px;
    height: 400px;
    /* border: 1px solid black; */
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    background-color: lightgray;
}
.error-image{
    width: 100vw;
    height: 100vh;
}
.restaurant-menu{
    display: flex;
    justify-content: space-between;
}