.header {
    display: flex;
    justify-content: space-between ;
    margin: 10px;
    border: 1px solid black;
}
.nav-items > ul{
    list-style-type: none;
    display: flex;
}
.nav-items > ul > li {
    padding: 10px;
}
.logo {
    width: 120px;
}
.logonameandimage{
    text-decoration: none;
    font-size: 30px;
    display: flex;
    align-items: center;
}
.card{
    width: 200px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}
.card > img {
    width: 100%;
    border-radius: 15px;
}
.restaurant-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
